.header 
  position: relative
  z-index: 10
  .navbar 
    padding: 1rem 0
    [data-theme="light"] &
      background-color: $white
    [data-theme="dark"] &
      background-color: #000
    [data-theme="gradient"] &
      background: linear-gradient(135deg,#000dff 10%,#6b73ff 100%)
      // background-color: transparent
    &:after
      content: ''
      position: absolute
      top: 100%
      left: 0
      height: 2px
      width: 100%
      [data-theme="light"] &
        background-color: $dark
      [data-theme="dark"] &
        background-color: $white
      [data-theme="gradient"] &
        background: $secondaryColor
    // 
    // box-shadow: 0 0 10px 1px rgba(blue, 0.4)
    // border-bottom: 1px solid hsla(0, 0%, 21%, 0.5)
  .navbar-item
    position: relative
    [data-theme="dark"] &,
    [data-theme="gradient"] &
      color: hsl(0, 0%, 96%)
    &.is-link-active
      [data-theme="light"] &,
      [data-theme="dark"] &
        color: $accentColor
      [data-theme="gradient"] &
        +textBG
        background-image: $orangeGrad
  .navbar-inner
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
  .navbar-brand
    display: flex
    align-items: center
    padding-left: 16px
  .navbar-end
    align-items: center
    display: flex
    padding-right: 16px
    +mobile 
      flex-direction: column
      align-items: flex-start
      position: absolute
      bottom: calc(1rem + 100%)
      left: 0
      width: 100%
      padding-bottom: 16px
      transition: transform 0.5s
      transform: translateY(calc(84px + 101%))
      [data-theme="light"] &
        background-color: $white
      [data-theme="dark"] &
        background-color: #000
      [data-theme="gradient"] &
        background: linear-gradient(135deg,#000dff 10%,#6b73ff 100%)
      &.is-closed
        transform: translateY(0)
  .logo-text
    color: #000
    font-family: $titleFont
    position: relative
    z-index: 15
    [data-theme="light"] &
      color: $dark
    [data-theme="dark"] &
      color: $white
    [data-theme="gradient"] &
      +textBG
      background-image: $orangeGrad
  .theme-toggler
    margin-left: 24px
    +mobile 
      margin-left: 0.75rem

.navbar-burger 
  margin-left: 0

@media screen and (min-width: 768px)
  .navbar-burger 
    display: none
    margin-left: auto