.projects
  display: flex
  flex-wrap: wrap
  margin: 0 -15px
  &__item
    // flex: 0 0 33.333%
    // padding: 0 15px 30px
    // max-width: 33.333%
    width: 33.333%
    padding: 0 15px 30px
    

.controllers
  display: grid
  grid-template-columns: repeat(6 ,minmax(10em, max-content))
  margin-bottom: 3rem

.controller
  .btn
    width: 100%
  &:not(:last-child)
    margin-right: 16px

img 
  display: block
  max-width: 100%

.hero-body
  &--projects
    align-items: flex-start !important

main
  flex-grow: 1
  display: flex
  .tl-wrapper,
  .tl-edges,
  .hero,
  .hero-body
    display: flex
    flex-grow: 1

.page-wrapper
  min-height: 100vh
  display: flex
  flex-direction: column
  padding-top: 3.25rem

