.hero
  &--wordpress,
  &--css,
  &--game-landing
    position: relative
    &:after
      +coverdiv
      content: ''
      opacity: 0.9
      z-index: -1
      display: none
  &--wordpress
    &:after
      background-image: $greenGrad
  &--css
    &:after
      background-image: $blueGrad
  &--game-landing
   &:after
     background-image: $orangeGrad

.single-project-image
  box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20)
  [data-theme="dark"] &,
  [data-theme="gradient"] &
    box-shadow: 0 0 23px 8px rgba($white,1)
 