$mainColor: #6B73FF
$accentColor: #9670ff
$secondaryColor: #6bfff1
$success: #9670ff

$dark: hsl(0, 0%, 7%)

$blueGrad: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100% )
$lightBlueGrad: linear-gradient( 135deg, #4C83FF 10%, #2AFADF 100%,)
$orangeGrad: linear-gradient( 89.9deg,  rgba(255,190,32,1) 0.6%, rgba(251,112,71,1) 124.3% )
// $greenGrad: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
$whiteGrad: linear-gradient( 135deg, #FFF 0%, #FFF 100%)
$greenGrad: repeating-linear-gradient(45deg, rgba(253, 227, 38,0.1) 0px, rgba(253, 227, 38,0.1) 1px,transparent 1px, transparent 11px),repeating-linear-gradient(135deg, rgba(253, 227, 38,0.1) 0px, rgba(253, 227, 38,0.1) 1px,transparent 1px, transparent 11px),linear-gradient(90deg, rgb(55, 150, 84),rgb(79, 148, 16))
$white: #FFF

$titleFont: 'Gilroy', sans-serif;
$mainFont: Arial,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"

$gap: 30px

$tr: 0.3s

$neuroShadow: 7px 7px 19px 0 rgba(12, 48, 75, 0.13), -7px -7px 19px 0 rgba(255, 255, 255, 0.8);
$neuroInnerShadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.25)
