@charset "utf-8";
// If need, change your variables before importing Bulma
$navbar-box-shadow-color: blue;
$navbar-box-shadow-size:	0 2px 0 0;
$footer-background-color: transparent;
$footer-padding: 0;
$navbar-item-active-background-color:  transparent;
$navbar-item-hover-background-color:  transparent;
$navbar-item-hover-color: blue;
$family-primary: 'Raleway';
$success: #9670ff;
@import "~bulma/bulma.sass";