@charset "utf-8";
// If need, change your variables before importing Bulma
$navbar-box-shadow-color: blue;
$navbar-box-shadow-size:	0 2px 0 0;
$footer-background-color: transparent;
$footer-padding: 1rem;
@import "~bulma/bulma.sass";