[data-theme="light"] 
  --header-link-color: #{$dark}
  --logo-fill: #{$mainColor}
  --main-bg: #{$white}
[data-theme="dark"] 
  --header-link-color: #{$white}
  --logo-fill: #{$mainColor}
  --main-bg: #{$dark}
[data-theme="gradient"]
  --header-link-color: #{$white}
  --logo-fill: #{$white}
  --main-bg: transparent