[data-theme="light"]
  --header-link-color: #{$dark}
  --logo-fill: #{$mainColor}
  --main-bg: #{$white}
  --header-bg: $white
  --content-accent: #{$accentColor}
  --text-color: #{$dark}
[data-theme="dark"]
  --header-link-color: hsl(210deg, 25%, 96%)
  --logo-fill: #{$mainColor}
  --main-bg: #{$dark}
  --header-bg: $black
  --content-accent: #{$secondaryColor}
  --text-color: hsl(210deg, 25%, 96%)
[data-theme="gradient"]
  --header-link-color: hsl(210deg, 25%, 96%)
  --logo-fill: #{$white}
  --main-bg: transparent
  --header-bg: linear-gradient(135deg,#000dff 10%,#6b73ff 100%)
  // --header-bg: linear-gradient(37deg, rgb(32, 218, 233),rgb(40, 21, 236))
  --content-accent: #{$accentColor}
  --text-color: hsl(210deg, 25%, 96%)
[data-theme="neuromorphic"]
  --header-link-color: #{$dark}
  --logo-fill: #{$mainColor}
  --main-bg: #e1e9ec
  --header-bg: rgba(#e1e9ec, 0.95)
  --content-accent: #{$accentColor}
  --text-color: #{$dark}
